.header .container {
    background-color: #45414A;
    border-radius: 15px 15px 0 0;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 70px;
}

.menu {
    list-style-type: none;
    width: 400px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;

    transition: 0.6s;
}

.menu li a:hover {
    font-size: 30px;
}

.menu li a img {
    width: 25px;
    height: 25px;
    transition: 0.6s;
}

.menu li a img:hover {
    width: 35px;
    height: 35px;
}

@media (max-width: 849px) {
    .header .container {
        border-radius: unset;
    }
}