@import url("../header.css");
@import url("../footer.css");
@import url("../command-table.css");

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Inter', sans-serif;

    margin: 0;
    position: relative;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRInmPs35tiC1_rTYc6xMo9vr4gIVjYxki_mg&usqp=CAU");
    background-attachment: fixed;
}

body::after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 4, 0, 0.6);
    position: absolute;
    z-index: -1;
}

.main .container {
    background-color: #F6F3FF;
}




h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    margin-top: 0;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}



/* section about */
.about__content {
    padding-top: 100px;
    padding-bottom: 50px;
}

.about__content p {
    font-size: 16px;
}

.about__content .css_img {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1rem; 
}

#css {
    transition: 1.5s ease-in-out;
}

#css:hover {
    text-shadow: 0 0 5px #29a9df, 0 0 10px #29a9df, 0 0 20px #29a9df, 0 0 20px #47b6e5, 0 0 20px #6ec2e7;
    color: white;
}

.about__content .css_img .img-wrapper {
    overflow: hidden;
}

.about__content .css_img .img-wrapper:first-child {
    overflow: unset;
}

.about__content .css_img .img-wrapper img {
    transition: 0.7s all ease-in;
    transform: scale(1.3);
    filter: grayscale(1);
}

.about__content .css_img .img-wrapper img:hover {
    transform: scale(1);
    filter: grayscale(0);
}

.about__content .css_img .img-wrapper:first-child img {
    transform: unset;
    filter: unset;
}

.about__content .css_img .img-wrapper:first-child img:hover {
    filter: drop-shadow(0 0 1rem #29a9df);
}


main p {
    font-size: 20px;
}






/* --------------- Adaptive --------------- */
.container {
    max-width: 800px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    margin-left: auto;
    margin-right: auto;
}


.table_css__content, .table_flex__content {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
}


@media (max-width: 749px) {
    html {
        font-size: 14px;
    }

    h2 {
        margin-top: 0;
    }
}


@media (max-width: 599px) {
    html {
        font-size: 8px;
    }
}


@media (max-width: 421px) {
    .css_img :nth-child(2), .css_img :nth-child(3) {
        height: unset;
        width: 100%;
    }
}

@media (max-width: 399px) {

}


@media (max-width: 469px) {
    html {
        font-size: 6px;flex-direction: row;
    }
}

